.bs-rating-articlelike {
	display: inline-block;
	margin-right: 5px;
	margin-left: 10px;
}
.bs-rating-articlelike-button, .bs-rating-articlelike-numvotes {
	display: inline-block;
	cursor: pointer;
}
.bs-rating-articlelike-numvotes, .bs-rating-articlelike-numvotes.uservoted {
	font-size: 11px;
}
.bs-rating-articlelike-button::after {
	content: '\e9a9';
	font-family: 'icomoon';
	font-size: 13px;
	color: grey;
	display: inline-block;
	font-weight: bold;
}
.bs-rating-articlelike-button.uservoted::after, .bs-rating-articlelike-numvotes.uservoted {
	color: #3e5389 !important;
}
.bs-rating-articlelike .bs-rating-articlelike-uservoted::after{
	content: '\ea10';
	font-family: 'icomoon';
	font-size: 14px;
	color: green;
	padding-left: 5px;
	display: inline-block;
}