#bs-rating-component-cnt .bs-rating-article .bs-rating-article-numvotes {
	bottom: 0;
	vertical-align: middle;
	color: inherit;
}

#bs-rating-component-cnt .bs-rating-article .bs-rating-article-uservoted::after {
	vertical-align: middle;
}
