.bs-rating-articlelike {
	display: inline-block;
	margin-right: 5px;
	margin-left: 10px;
}

.bs-rating-articlelike-button {
	background: none;
	border: none;
}

.bs-rating-articlelike-button:disabled {
	cursor: not-allowed;
}

.bs-rating-articlelike-icon::after {
	content: '\e9a9';
	font-family: 'icomoon';
	font-size: 13px;
	color: var(--content-fg-secondary);
	display: inline-block;
	font-weight: bold;
	margin-right: 5px;
}

.bs-rating-articlelike-icon.recommended::after {
	color: var(--link-fg);
}

.bs-rating-articlelike-label {
	color: var(--link-fg);
}

.bs-rating-articlelike-uservoted::after{
	content: '\ea10';
	font-family: 'icomoon';
	font-size: 14px;
	color: green;
	padding-left: 5px;
}
